<div class="max-w-[42.5rem] px-4 mx-auto">
    <div class="mb-14">
        <div class="flex max-md:flex-col items-center gap-4 mb-8">
            <img src="/images/introduction/student1.jpg" alt="ouchi" class="w-full max-w-xs">
            <p class="relative px-6 py-4 rounded-lg bg-makuai-yellow text-makuai-black font-bold text-[1.375rem] leading-[160%] font-Noto tracking-[.02em] after:absolute after:top-4 after:-left-8 max-md:after:border-none after:border after:border-r-[2rem] after:border-b-[2rem] after:border-l-transparent after:border-r-makuai-yellow-light after:border-y-transparent">スクール卒業後、東京のIT企業に就職しました！</p>
        </div>
        <div>
            <button id="student1Open" class="button block relative w-fit px-[1.875rem] py-3 mx-auto mb-8 lg:mb-12 border-t-[0.0625rem] border-x-[0.0625rem] border-b-4 border-makuai-black rounded-lg shadow-[0px_-4px_15px_rgba(0,0,0,0.1),_inset_-6px_-9px_0px_rgba(0,0,0,0.07)] bg-[rgba(255,255,255,1)] text-makuai-black font-bold text-[1.125rem] leading-normal after:block after:opacity-0 hover:after:opacity-100 after:absolute after:inset-0 after:rounded-lg after:content-[''] after:transition after:duration-[800ms]">もっと読む↓</button>
            <div id="student1Text" class="hidden">
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">岐阜県立飛騨高山高校3年情報処理科の大内琉です。趣味はゲームで最近は「valorant」を週末に友達と一緒にプレイしています。</p>
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">MakuaiCodeBoostに入学しようと思った理由は中学生の頃からIT企業で働きたいと考えていたからです。MakuaiCodeBoost ではより実践的なことを学ぶことができ、1年間の育成プログラムを修了する頃には即戦力になれるという部分にとても魅力 を感じました。</p>
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">MakuaiCodeBoostで学習した言語はhtml&css、javascript、sqlで現在はPHPを学習中です。5月にhtml&css、Javascriptを使ってwebサイトを制作したのですが中々上手くいきませんでした。</p>
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">デザイン等もcssで設定しなければならないので中央に文字を寄せるだけでも一苦労し ました。また、Javascript で処理を記述する必要があったため、ネットで調べながら進めていましたが、調べれば調べるほど分からないことが増えていきました。ですが、その度に講師の鈴木さんや、仲間さんに質問をしてなんとか完成させることが出来ました。自分で制作した web サイトが実際に動いているということがとても嬉しくて感動しました。自分でwebサイトやアプリを作ることはとても大変でしたが、少しずつ完成に近づいていくのが楽しいと感じている のでサイト制作中の時間はあっという間に過ぎていきました。</p>
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">現在はPHPを使ってTODOリストを制作しているのですが、デザイン制作が苦手で自分がイメージしているデザインに近づけることが中々出来なかったり、そもそも自分にデザイン力が無いと感じているので、企業が制作したクオリティの高いwebサイト等を参考にして克服していきたいと思っています。</p>
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">将来は実現力のあるプログラマーになりたいと思っています。今はまだ自分の出来ることの中から技術を選んでTODOリストを制作していますが、自分の頭の中で考えていることをその まま実装出来るくらいの技術力を身につけたいです。特にバックエンドの技術を伸ばしていきたいと考えています。webサイトのデザインをしている時よりもjavascriptなどでコードを書いている時の方が楽しいと感じているので自分の得意な部分をこれからも伸ばしていきたいです。</p>
                <button id="student1Close" class="button block relative w-fit px-[1.875rem] py-3 mx-auto mb-8 lg:mb-12 border-t-[0.0625rem] border-x-[0.0625rem] border-b-4 border-makuai-black rounded-lg shadow-[0px_-4px_15px_rgba(0,0,0,0.1),_inset_-6px_-9px_0px_rgba(0,0,0,0.07)] bg-[rgba(255,255,255,1)] text-makuai-black font-bold text-[1.125rem] leading-normal after:block after:opacity-0 hover:after:opacity-100 after:absolute after:inset-0 after:rounded-lg after:content-[''] after:transition after:duration-[800ms]">閉じる</button>
           </div>
        </div>
    </div>
    <div class="mb-14">
        <div class="flex max-md:flex-col flex-row-reverse items-center gap-4 mb-8">
            <img src="/images/introduction/student2.jpg" alt="suzuki" class="w-full max-w-xs">
            <p class="relative px-6 py-4 rounded-lg bg-makuai-yellow text-makuai-black font-bold text-[1.375rem] leading-[160%] font-Noto tracking-[.02em] after:absolute after:top-4 after:-right-8 max-md:after:border-none after:border after:border-l-[2rem] after:border-b-[2rem] after:border-l-makuai-yellow-light after:border-r-transparent after:border-y-transparent">スクール卒業後、東京のIT企業に就職しました！</p>
        </div>
        <div>
            <button id="student2Open" class="button block relative w-fit px-[1.875rem] py-3 mx-auto mb-8 lg:mb-12 border-t-[0.0625rem] border-x-[0.0625rem] border-b-4 border-makuai-black rounded-lg shadow-[0px_-4px_15px_rgba(0,0,0,0.1),_inset_-6px_-9px_0px_rgba(0,0,0,0.07)] bg-[rgba(255,255,255,1)] text-makuai-black font-bold text-[1.125rem] leading-normal after:block after:opacity-0 hover:after:opacity-100 after:absolute after:inset-0 after:rounded-lg after:content-[''] after:transition after:duration-[800ms]">もっと読む↓</button>
            <div id="student2Text" class="hidden">
                <p class="mb-6 text-makuai-black font-light text-[1rem] leading-[180%] font-Noto tracking-[.02em]">飛騨高山高校３年、情報処理科の鈴木源斗です。吹奏楽部でクラリネットを担当していて、毎日練習に取り組んでいます。趣味はゲーム、筋トレ、映画鑑賞で親と一緒によく自宅で映画を見ます。将来はｗｅｂエンジニアとして働き趣味でゲームを作る生活が今の夢です。</p>
                <button id="student2Close" class="button block relative w-fit px-[1.875rem] py-3 mx-auto mb-8 lg:mb-12 border-t-[0.0625rem] border-x-[0.0625rem] border-b-4 border-makuai-black rounded-lg shadow-[0px_-4px_15px_rgba(0,0,0,0.1),_inset_-6px_-9px_0px_rgba(0,0,0,0.07)] bg-[rgba(255,255,255,1)] text-makuai-black font-bold text-[1.125rem] leading-normal after:block after:opacity-0 hover:after:opacity-100 after:absolute after:inset-0 after:rounded-lg after:content-[''] after:transition after:duration-[800ms]">閉じる</button>
            </div>
        </div>
    </div>
</div>
<script>
    const student1Open = document.querySelector('#student1Open');
    const student1Text = document.querySelector('#student1Text');
    const student1Close = document.querySelector('#student1Close');
    const student2Open = document.querySelector('#student2Open');
    const student2Text = document.querySelector('#student2Text');
    const student2Close = document.querySelector('#student2Close');

    const toggleIntroduction = (open, text) => {
        open.classList.toggle("hidden");
        text.classList.toggle("hidden");
    }
    
    student1Open.addEventListener('click', toggleIntroduction.bind(null, student1Open, student1Text));
    student1Close.addEventListener('click', toggleIntroduction.bind(null, student1Open, student1Text));
    student2Open.addEventListener('click', toggleIntroduction.bind(null, student2Open, student2Text));
    student2Close.addEventListener('click', toggleIntroduction.bind(null, student2Open, student2Text));
</script>