<p class="text-makuai-black font-medium md:text-[1.375rem] leading-[180%] md:leading-loose font-Noto tracking-[.02em] text-center">1年間の本格プログラムでエンジニアとして</p>
<p class="mb-10 text-makuai-black font-medium md:text-[1.375rem] leading-[180%] md:leading-loose font-Noto tracking-[.02em] text-center">働けるスキルが身につく！</p>
<div class="flex flex-col md:flex-row justify-center items-center gap-5 mb-10">
    <div class="flex flex-col justify-center items-center gap-y-2 w-40 h-[5.5rem] border border-makuai-black rounded-2xl bg-gradient-to-b from-transparent via-transparent to-[rgba(51,51,51,0.2)] shadow-[inset_0_-12px_0_rgba(0,0,0,0.04)] drop-shadow-xl">
        <p class="text-makuai-black font-medium text-[1.125rem] font-Noto tracking-[.02em]">岐阜県高山市</p>
        <p class="text-makuai-black font-bold text-[1.625rem] font-Noto tracking-[.02em]">限定</p>
    </div>
    <div class="flex flex-col justify-center items-center gap-y-2 w-40 h-[5.5rem] border border-makuai-black rounded-2xl bg-gradient-to-b from-transparent via-transparent to-[rgba(51,51,51,0.2)] shadow-[inset_0_-12px_0_rgba(0,0,0,0.04)] drop-shadow-xl">
        <p class="text-makuai-black font-medium text-[1.125rem] font-Noto tracking-[.02em]">高校生向け</p>
    </div>
    <div class="flex flex-col justify-center items-center gap-y-2 w-40 h-[5.5rem] border border-makuai-black rounded-2xl bg-gradient-to-b from-transparent via-transparent to-[rgba(51,51,51,0.2)] shadow-[inset_0_-12px_0_rgba(0,0,0,0.04)] drop-shadow-xl">
        <p class="text-makuai-black font-bold text-[1.625rem] font-Noto tracking-[.02em]">無料</p>
        <p class="text-makuai-black font-medium text-[1.125rem] font-Noto tracking-[.02em]">プログラム</p>
    </div>
</div>
