<div class="max-w-[65rem] mx-auto">
    <div class="md:relative max-md:max-w-[30rem] md:w-[52.5rem] md:h-[52.5rem] pt-8 md:pt-[15.375rem] px-6 md:px-[8.25rem] pb-12 max-md:mx-auto mb-6 rounded-2xl md:rounded-full bg-white">
        <span class="block relative md:absolute md:top-0 md:-right-[5.5rem] w-60 h-60 mx-auto mb-8 bg-[#f9f9f9] border border-b-8 border-makuai-black rounded-full shadow-[0px_16px_24px_rgba(0,0,0,0.08),inset_-12px_-20px_0px_rgba(0,0,0,0.05)]">
            <p class="relative z-0 w-fit mt-[5.25rem] mx-auto text-makuai-black font-bold text-[3rem] leading-normal after:absolute after:top-[2.875rem] after:-inset-x-4 after:-z-10 after:opacity-20 after:h-5 after:rounded after:bg-gradient-to-r after:from-makuai-cyan after:via-makuai-red after:to-makuai-yellow">Point</p>
        </span>
        <p class="mb-8 text-makuai-cyan font-bold text-[1.375rem] md:text-[2.125rem] leading-200 md:leading-normal font-Noto text-center">現役のエンジニアが講師を務めます</p>
        <p class="text-makuai-black font-light md:text-[1.375rem] leading-[180%] md:leading-200 font-Noto tracking-[.02em]">現役のフリーランスエンジニアやエンジニア出身経営者が講師を務めます。ただ単にプログラミングの文法を教えるのではなく、可読性・保守性の高いコードを意識して書けるように、コードレビューしていきます。また、最新の技術のトレンドやエンジニアとしてのキャリアのアドバイスもしていきます。</p>
    </div>
    <div class="md:relative max-md:max-w-[30rem] md:w-[52.5rem] md:h-[52.5rem] pt-8 md:pt-[15.375rem] px-6 md:px-[8.25rem] pb-12 md:-mt-40 max-md:mx-auto md:ml-auto md:mr-0 mb-6 rounded-2xl md:rounded-full bg-white md:bg-[#f9f9f9]">
        <img src="/images/top/hello.png" alt="hello" class="hidden md:block absolute -top-[5.75rem] left-[29rem]">
        <p class="mb-8 text-makuai-cyan font-bold text-[1.375rem] md:text-[2.125rem] leading-200 md:leading-normal font-Noto text-center">実務形式でカリキュラムを進めます</p>
        <p class="text-makuai-black font-light md:text-[1.375rem] leading-[180%] md:leading-200 font-Noto tracking-[.02em]">講師がPMとなり、受講生に具体的な仕様をヒアリングしてもらいながら、開発を進めます。 具体的には、issue作成・PR・レビュー・merge・デプロイまでの流れを実践し、実務では当たり前の開発フローを体感していただきます。</p>
    </div>
</div>