.header__nav-link--contact::after {
    opacity: 1;
}
.contact {
    max-width: 880px;
    padding: 188px 0 100px;
    margin: 0 auto;
}
.contact__heading {
    position: relative;
    width: fit-content;
    margin: 0 auto 24px;
}
.contact__heading::after {
    position: absolute;
    top: 1em;
    left: 0px;
    right: 0px;
    z-index: -1;
    height: 0.4em;
    border-radius: 3px;
    content: "";
    background: var(--main-heading-decoration);
    opacity: 0.2;
}
.contact__text {
    padding: 0 16px;
    margin: 0 auto 28px;
    text-align: center;
}
.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    max-width: 560px;
    padding: 0 16px;
    margin: auto;
}
.contact__form-label {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 20px;
}
.contact__form-input {
    display: block;
    width: 100%;
    padding: 6px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    color: #333333;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 0.02em;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    outline: 1px solid #333333;
}
.contact__form-input:focus {
    outline: none;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    padding-left: 19px;
    margin: 1px;
}
.contact__form-input-outline {
    position: relative;
    max-width: 560px;
}
.contact__form-input-outline::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 8px;
    background: linear-gradient(90deg, #45D1D1 0%, #ED5D5D 51.56%, #F8BF2D 100%);
}
.contact__form-input--name {
    height: 56px;
}
.contact__form-input--email {
    height: 56px;
}
.contact__form-input--message {
    height: 120px;
}
.contact__form-input--message:focus {
    height: 118px;
}
.contact__form-policy {
    margin: 36px 0 24px;
}
.contact__form-policy-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
}
.contact__form-policy-link {
    display: block;
    width: fit-content;
    margin: 0 auto 24px;
    text-decoration: none;
    color: #00d1d1;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.02em;
}
.contact__form-policy-link--black {
    color: var(--mauai-charcoal);
}
.contact__form-checkbox {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 29.5px;
}
.contact__form-checkbox-button {
    position: relative;
}
.contact__form-checkbox-button::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: -13.5px;
    top: -13.5px;
    background-image: url('/img/checkbox.svg');
}
.contact__form-checkbox-button:checked::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 18px;
    top: -4px;
    left: 0;
    background-image: url('/img/checked.svg');
}
.contact__form-checkbox-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
}
.contact__form-submit {
    position: relative;
    display: block;
    margin: auto;
    padding: 8px 32px 20px;
    gap: 4px;
    width: 132px;
    height: 48px;
    background: #FFFFFF;
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    border-color: #333333;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1), inset -5px -8px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: 'palt' on;
    color: var(--makuai-charcoal);
    box-sizing: border-box;
}
.contact__form-submit::after {
    content: "";
    opacity: 0;
    transition: opacity 0.8s;
}
.contact__form-submit:hover::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(105deg, rgba(248,191,45,0.2) 0%, rgba(237,93,93,0.2) 16%, rgba(69,209,209,0.2) 32%, rgba(255,255,255,0.2) 50%, rgba(69,209,209,0.2) 68%, rgba(237,93,93,0.2) 84%, rgba(248,191,45,0.2) 100%);
    content: "";
    border-radius: 8px;
    opacity: 1;
}
