.header__nav-link--studentrecruit::after {
    opacity: 1;
}
.recruit-section__heading {
    position: relative;
    width: fit-content;
    margin: 0 auto 40px;
}
.recruit-section__number {
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 auto 64px;
    border-radius: 48px;
    background: linear-gradient(90deg, #45D1D1 0%, #ED5D5D 51.56%, #F8BF2D 100%);
}
.recruit-section__link {
    position: relative;
    display: block;
    padding: 12px 0 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: 'palt' on;
    color: #333333;
    background: rgba(255, 255, 255, 0.5);
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    border-color: #333333;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1), inset -6px -9px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}
.recruit-section__link::after {
    content: "";
    opacity: 0;
    transition: opacity 0.8s;
}
.recruit-section__link:hover::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(105deg, rgba(248,191,45,0.2) 0%, rgba(237,93,93,0.2) 16%, rgba(69,209,209,0.2) 32%, rgba(255,255,255,0.2) 50%, rgba(69,209,209,0.2) 68%, rgba(237,93,93,0.2) 84%, rgba(248,191,45,0.2) 100%);
    content: "";
    border-radius: 8px;
    opacity: 1;
}
.recruit-section__number::after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 94px;
    height: 94px;
    border-radius: 47px;
    background: #FFFFFF;
    content: "1";
    line-height: 94px;
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #333333;
}
.recruit-section-1 {
    padding: 188px 16px 112px;
}
.recruit-section-1__heading--top {
    margin-bottom: 0;
}
.recruit-section-1__heading::after {
    position: absolute;
    top: 1em;
    left: -16px;
    right: -16px;
    z-index: -1;
    content: "";
    height: 0.4em;
    border-radius: 3px;
    background: var(--main-heading-decoration);
    opacity: 0.2;
}
.recruit-section-1__text {
    max-width: 877px;
    margin: 0 auto 40px;
}
.recruit-section-1__link {
    width: 346px;
}
.recruit-section-2 {
    padding: 0 16px 140px;
}
.recruit-section-2__heading {
    position: relative;
    width: fit-content;
    margin: 0 auto 56px;
}
.recruit-section-2__heading::after {
    position: absolute;
    top: 1em;
    left: -16px;
    right: -16px;
    z-index: -1;
    content: "";
    height: 0.4em;
    border-radius: 3px;
    background: var(--main-heading-decoration);
    opacity: 0.2;
}
.recruit-section-2__text {
    max-width: 880px;
    margin: 0 auto 56px;
}
.recruit-section-2__image {
    display: block;
    width:80%;
    max-width: 530px;
    margin: auto;
}
.recruit-section-3 {
    padding: 120px 0 140px;
    background: #F3CC65;
    border-radius: 24px;
}
.recruit-section-3__heading {
    position: relative;
    width: fit-content;
    margin: auto;
    color: #FFFFFF;
}
.recruit-section-3__heading::after {
    position: absolute;
    top: 1em;
    left: -16px;
    right: -16px;
    content: "";
    height: 0.4em;
    background: #FFFFFF;
    opacity: 0.2;
}
.recruit-section-4 {
    padding: 120px 16px 140px;
}
.recruit-section-4__number::after {
    content: "1";
}
.recruit-section-4__heading {
    margin-bottom: 56px;
}
.recruit-section-4__text {
    max-width: 898px;
    margin: 0 auto 64px;
    text-align: center;
}
.recruit-section-4__image {
    display: block;
    width:80%;
    max-width: 673px;
    margin: auto;
}
.recruit-section-5 {
    padding: 120px 16px 140px;
    background-image: url('/images/sponsor/recruit-section-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.recruit-section-5__number::after {
    content: "2";
}
.recruit-section-5__heading {
    margin-bottom: 48px;
}
.recruit-section-5__heading--sub {
    font-family: 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    color: #333333;
    margin-bottom: 56px;
    font-size: 32px;
}
.recruit-section-5__text {
    max-width: 880px;
    margin: auto;
    text-align: center;
}
.recruit-section-6 {
    padding: 120px 16px 140px;
}
.recruit-section-6__number::after {
    content: "3";
}
.recruit-section-6__heading {
    margin-bottom: 56px;
}
.recruit-section-6__text {
    max-width: 880px;
    margin: 0 auto 200px;
    text-align: center;
}
.recruit-section-6__image {
    display: block;
    width:80%;
    max-width: 600px;
    margin: auto;
}
.recruit-section-7 {
    padding: 120px 16px 140px;
    background-image: url('/images/sponsor/recruit-section-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.recruit-section-7__heading {
    font-family: 'M PLUS 1', sans-serif;
    margin-bottom: 56px;
}
.recruit-section-7__list {
    display: block;
    max-width: 580px;
    padding-left: 22px;
    box-sizing: border-box;
    margin: 0 auto 64px;
}
.recruit-section-7__link {
    width: 300px;
}

@media screen and (max-width: 1039px) {
    .recruit-section__heading {
        font-size: 2.4rem;
    }
    .recruit-section-3 {
        padding: 60px 0 80px;
        border-radius: 16px;
    }
    .recruit-section-4 {
        padding-bottom: 0;
    }
    .recruit-section-4__text {
        text-align: left;
    }
    .recruit-section-5 {
        padding-bottom: 0;
    }
    .recruit-section-5__text {
        text-align: left;
    }
    .recruit-section-6__text {
        margin-bottom: 40px;
    }
    .recruit-section-7 {
        padding-top: 40px;
    }
}