@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;700&display=swap');

/* カラーパターン */
:root {
    --makuai-charcoal: #333333;
    --makuai-cyan: #45D1D1;
    --makuai-red: #ED5D5D;
    --makuai-yellow: #F8BF2D;
    --makuai-yellow2: #F3CC65;
    --makuai-gray: #F9F9F9;
    --makuai-gradiation: linear-gradient(to right, var(--makuai-cyan), var(--makuai-red), var(--makuai-yellow)) 1;
}

/* 標準 */
:root {
    --main-heading-decoration: linear-gradient(90deg, var(--makuai-cyan) 0%, var(--makuai-red) 51.56%, var(--makuai-yellow) 100%);
    --main-item-color: var(--makuai-charcoal);
    --main-item-color-emphasis: var(--makuai-red);
    --main-item-font: normal 700 20px/180% 'M PLUS 1 Code', sans-serif;
    --main-item-decoration: var(--makuai-yellow);
    --main-desc-color: var(--makuai-charcoal);
    --main-desc-color-emphasis: var(--makuai-red);
    --main-desc-font: normal 300 16px/180% 'Noto Sans JP', sans-serif;
    --main-bg-color: var(--makuai-gray);
    --sub-bg-color: var(--makuai-yellow2);
}

/* リセットcss */
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: var(--makuai-charcoal);
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/* フォント */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
h1 {
    font: normal 700 4.8rem/150% 'Noto Sans JP', sans-serif;
    color: var(--makuai-charcoal);
}
p, pre {
    font: normal 300 2.2rem/200% 'Noto Sans JP', sans-serif;
    letter-spacing: 0.02em;
    color: var(--makuai-charcoal);
}

@media screen and (max-width: 1039px) {
    h1 {
        font-size: 3.2rem;
    }
    p, pre{
        font-size: 1.6rem;
        line-height: 180%;
    }
}