<div class="flex max-md:flex-col justify-center max-md:items-center gap-x-8 gap-y-16">
    <div class="w-[18.75rem]">
        <span class="block relative w-[11.75rem] h-[11.75rem] mb-6 mx-auto rounded-full bg-gradient-to-r from-makuai-cyan via-makuai-red to-makuai-yellow before:absolute before:top-px before:left-px before:w-[11.625rem] before:h-[11.625rem] before:pt-[3.75rem] before:rounded-full before:bg-white before:text-makuai-black before:font-bold before:text-[1.625rem] before:leading-[130%] before:font-Noto before:text-center before:whitespace-pre before:content-['スターター\Aコース'] after:block after:absolute after:-top-6 after:left-[4.375rem] after:w-12 after:h-12 after:border after:border-[#707070] after:rounded-full after:bg-white after:text-[#707070] after:font-bold after:text-[1.5rem] after:leading-loose after:font-MPlus1Code after:text-center after:content-['1']">
            <span class="hidden md:block absolute inset-y-[5.6875rem] left-[11.6875rem] opacity-50 w-40 bg-[#DDDDDD]"></span>
        </span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">ゴール</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">MVCフレームワーク（Laravelなど）を使用して開発できる土台を作る。</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">学習時間</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">自己学習時間150時間＋講義</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">講義</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">12回 X 3時間</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">もくもく会</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">8回 X 2時間</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">卒業課題あり</p>
    </div>
    <div class="w-[18.75rem]">
        <span class="block relative w-[11.75rem] h-[11.75rem] mb-6 mx-auto rounded-full bg-gradient-to-r from-makuai-cyan via-makuai-red to-makuai-yellow before:absolute before:top-px before:left-px before:w-[11.625rem] before:h-[11.625rem] before:pt-[3.75rem] before:rounded-full before:bg-white before:text-makuai-black before:font-bold before:text-[1.625rem] before:leading-[130%] before:font-Noto before:text-center before:whitespace-pre before:content-['エキスパート\Aコース'] after:block after:absolute after:-top-6 after:left-[4.375rem] after:w-12 after:h-12 after:border after:border-[#707070] after:rounded-full after:bg-white after:text-[#707070] after:font-bold after:text-[1.5rem] after:leading-loose after:font-MPlus1Code after:text-center after:content-['2']">
            <span class="hidden md:block absolute inset-y-[5.6875rem] left-[11.6875rem] opacity-50 w-40 bg-[#DDDDDD]"></span>
        </span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">ゴール</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">未経験エンジニア塾で企業の書類選考に通る。エンジニアインターンとして働けるレベル。</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">学習時間</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">自己学習時間300時間＋講義</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">講義</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">12回 X 3時間</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">もくもく会</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">8回 X 2時間</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">卒業課題あり</p>
    </div>
    <div class="w-[18.75rem]">
        <span class="block relative w-[11.75rem] h-[11.75rem] mb-6 mx-auto rounded-full bg-gradient-to-r from-makuai-cyan via-makuai-red to-makuai-yellow before:absolute before:top-px before:left-px before:w-[11.625rem] before:h-[11.625rem] before:pt-[3.75rem] before:rounded-full before:bg-white before:text-makuai-black before:font-bold before:text-[1.625rem] before:leading-[130%] before:font-Noto before:text-center before:whitespace-pre before:content-['プロジェクト\A実施'] after:block after:absolute after:-top-6 after:left-[4.375rem] after:w-12 after:h-12 after:border after:border-[#707070] after:rounded-full after:bg-white after:text-[#707070] after:font-bold after:text-[1.5rem] after:leading-loose after:font-MPlus1Code after:text-center after:content-['3']"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">ゴール</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">製品開発を完全に学生たちに任せて、プロダクトマネージメントも含めて本格的な開発環境で1個の製本を自ら作る。</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">学習時間</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">自己学習時間150時間</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-bold leading-[180%] font-Noto text-center tracking-[.02em]">もくもく会</p>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">8回 X 2時間</p>
        <span class="block h-px w-12 mx-auto my-6 bg-[#dddddd]"></span>
        <p class="text-makuai-black font-light leading-[180%] font-Noto text-center tracking-[.02em]">卒業課題あり</p>
    </div>
</div>