<footer class="flex flex-col md:flex-row md:justify-between gap-y-4 px-8 py-6 rounded-t-3xl bg-makuai-gray">
    <div class="grid grid-cols-1 md:grid-cols-[repeat(2,_auto)] lg:grid-cols-[repeat(4,_auto)] gap-x-10 gap-y-6 font-medium text-[1.125rem] leading-[220%] font-Noto">
        <div class="flex flex-col">
            <a href="/">ホーム</a>
            <a href="/curriculum">カリキュラム</a>
            <a href="/introduction">学生の紹介</a>
        </div>
        <div class="flex flex-col">
            <a href="/company">スポンサー要領</a>
            <a href="/studentrecruit">エンジニアをお探しの企業様</a>
            <a href="/support">支援</a>
        </div>
        <div class="flex flex-col">
            <a href="/news">ニュース</a>
            <a href="/contact">問い合わせ</a>
        </div>
        <div class="flex flex-col">
            <a href="/privacy">個人情報保護方針</a>
            <a href="/privacy">個人情報の取り扱いについて</a>
            <a href="/privacy">クッキー等の利用について</a>
        </div>
    </div>
    <div class="flex flex-wrap justify-between md:gap-6 md:content-center">
        <p class="text-makuai-black font-light font-Noto tracking-[.02em]">©2022 copyright text</p>
        <a href="#"><img src="/img/footer/instagram.svg" alt="instagram"></a>
    </div>
</footer>